{% extends 'base.html' %}
{% block content %}
<!-- Shop Detail Start -->
<div class="container-fluid py-5">

</div>
<!-- Shop Detail End -->
<script>
        $.ajax({
        type: 'GET',
        url: '/api/{{slug}}/{{pk}}/',
        success: function (response) {
                console.log(response)
                let product = response
                $('.container-fluid').append(
                    `
                    <div class="row px-xl-5">
                        <div class="col-lg-5 pb-5">
                                <div class="carousel-inner border">
                                    <div class="carousel-item active">
                                        <img class="w-100 h-100" src="${product.image}" alt="Image">
                                    </div>
                                </div>

                            <div class="col-lg-7 pb-5">
                                <h3 class="font-weight-semi-bold">${product.title}</h3>
                                <h3 class="font-weight-semi-bold mb-4">$${product.price}</h3>
                                <p class="mb-4">${product.description}</p>
                                
                                <div class="d-flex align-items-center mb-4 pt-2">
                                    <div class="col">
                                        <div class="row p-3">
                                            <div class="col-6">
                                                <label for="select">Qty</label>
                                                <select id="select">
                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                    <option value="4">4</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <button id="add-button" value="${product.id}" class="btn btn-primary px-3">
                                        <i class="fa fa-shopping-cart mr-1"></i> Add To Cart
                                    </button>
                                </div>

                            </div>
                        </div>
                    </div>`
                )
            }
    })


    $(document).on('click', '#add-button', function (e) {
        e.preventDefault();
        $.ajax({
            type: 'POST',
            url: '{% url "cart_add" %}',
            data: {
                productid: $('#add-button').val(),
                productqty: $('#select option:selected').text(),
                csrfmiddlewaretoken: "{{csrf_token}}",
            },
            success: function (response) {
                console.log('The product added to the cart')
            },
            error: function (xhr, errmsg, err) {}
        });
    })
</script>
{% endblock %}